<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Home Page
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- List of Text Items -->
    <ion-list>
        <ion-item>
            <ion-label>Eleman 1</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Eleman 2</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Eleman 3</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Eleman 4</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Eleman 5</ion-label>
        </ion-item>
    </ion-list>
</ion-content>